body {
  background-image: url(pexels-darius-krause-2470655.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: "Manrope", sans-serif;
  padding: 10px 0 0 0;
}
h2 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}
button {
  margin-top: 2px;
}
p {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  color: #1c465e;
}
input {
  margin: 20px auto;
  font-family: "Manrope", sans-serif;
}

.mainPanel {
  background: #e4fcf9;
}

.signature {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  color: grey;
}
.normalButton {
  margin: 20px auto;
  font-family: "Manrope", sans-serif;
  background-color: #e4fcf9;

  border-width: 1px;
  border-style: solid;

  border-radius: 0.375rem;
}
.units {
  font-size: 17px;
  position: relative;
  top: -14px;
  text-decoration: none;
}
.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}
