body {
  background-image: url(pexels-darius-krause-2470655.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: "Manrope", sans-serif;
  padding: 10px 0 0 0;
}
h2 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}
h3 {
  font-family: "Manrope", sans-serif;
  font-size: 25px;
}

button {
  margin-top: 2px;
}
p {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  color: #1c465e;
}
input {
  margin: 20px auto;
  font-family: "Manrope", sans-serif;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.container {
  width: 600px;
  margin: 30px auto;
}
.mainPanel {
  background: #e4fcf9;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.signature {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  color: grey;
}

.units {
  font-size: 17px;
  position: relative;
  top: -7px;
  text-decoration: none;
}
.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

#icon {
  margin-right: 20px;
  height: 100px;
  width: 90px;
}
.searchingPanel {
  text-align: center;
}

#city-search-bar {
  width: 340px;

  display: inline-block;
  background: #cfbcdc;
  border-radius: 60px;
  backdrop-filter: blur(4px) saturate(180%);
}
#city-search-bar button {
  width: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

#city-search-bar input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0px 20px 0px 5px;
  font-size: 16px;
  color: white;
  margin: 5px 2px 5px 2px;
}
::placeholder {
  color: rgba(241, 243, 244, 0.76);
}
.currentLocButton {
  width: 340px;
  background: #cfbcdc;
  border-radius: 60px;
  backdrop-filter: blur(4px) saturate(180%);
  border: none;
  font-family: "Manrope", sans-serif;
  color: rgba(241, 243, 244, 0.76);
  margin: 10px 2px 10px 2px;
  padding: 5px 20px 5px 5px;
}
